In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# 콘솔에서 모든 출력 허용하기
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

## 브로드캐스팅
  - Shape이 같은 두 ndarray에 대한 연산은 각 원소별로 진행
  - 연산되는 두 ndarray가 다른 Shape을 갖는 경우 브로드 캐스팅(Shape을 맞춤) 후 진행

## 브로드캐스팅 Rule
 - [공식문서](https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html#general-broadcasting-rules)
 - 뒷 차원에서 부터 비교하여 Shape이 같거나, 차원 중 값이 1인 것이 존재하면 가능

![브로드캐스팅 예](https://www.tutorialspoint.com/numpy/images/array.jpg)
    - 출처: https://www.tutorialspoint.com/numpy/images/array.jpg

## shape 같은 경우 (벡터화 연산)

In [4]:
x = np.arange(15).reshape(3, 5)
y = np.random.rand(15).reshape(3, 5)
print(x)
print(y)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]
[[0.77120208 0.1650057  0.56504713 0.85301924 0.88777808]
 [0.89093316 0.48993673 0.367215   0.65741223 0.06143538]
 [0.78029428 0.45896167 0.2398633  0.75468839 0.69749865]]

In [5]:
x * y

array([[0.        , 0.1650057 , 1.13009426, 2.55905772, 3.55111232],
       [4.4546658 , 2.93962041, 2.57050501, 5.25929784, 0.55291842],
       [7.80294279, 5.04857832, 2.87835959, 9.81094904, 9.76498104]])

In [6]:
## scalar(상수) 와 연산
x % 2 == 0

array([[ True, False,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False,  True, False,  True]])

## shape 다른 경우

In [11]:
a = np.arange(12).reshape(4, 3)
b = np.arange(100, 103)
c = np.arange(1000, 1004)
d = b.reshape(1, 3)

print(a.shape)
print(b.shape)
print(c.shape)
print(d.shape)
print(d)
a
b
c
d
d.ndim

(4, 3)
(3,)
(4,)
(1, 3)
[[100 101 102]]

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

array([100, 101, 102])

array([1000, 1001, 1002, 1003])

array([[100, 101, 102]])

2

In [12]:
a+b # (행단위로 계산) b를 가지고 가서 각행 마다 더해서 연산 수행

array([[100, 102, 104],
       [103, 105, 107],
       [106, 108, 110],
       [109, 111, 113]])

In [13]:
a+c

ValueError: operands could not be broadcast together with shapes (4,3) (4,)

In [14]:
a+d

array([[100, 102, 104],
       [103, 105, 107],
       [106, 108, 110],
       [109, 111, 113]])

In [15]:
b_1 = np.arange(100,104)
d = b_1.reshape(4, 1)
# 행의 갯수가 동일
a
d

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

array([[100],
       [101],
       [102],
       [103]])

In [16]:
a+d

array([[100, 101, 102],
       [104, 105, 106],
       [108, 109, 110],
       [112, 113, 114]])

## Boolean indexing
  - ndarry 인덱싱 시, bool 리스트를 전달하여 True인 경우만 필터링

In [18]:
x = np.random.randint(1, 100, size=10)
print(x)

[49 12 80 89 58 85 39 94  8  3]

In [19]:
even_mask = x%2 ==0
even_mask

array([False,  True,  True, False,  True, False, False,  True,  True,
       False])

In [21]:
# bool 리스트 인덱스로 전달
x[even_mask]

x[x%2==0]

array([12, 80, 58, 94,  8])

array([12, 80, 58, 94,  8])

In [22]:
x[x>30]

array([49, 80, 89, 58, 85, 39, 94])

##  다중조건 사용하기
 - 파이썬 논리 연산지인 and, or, not 키워드 사용 불가
 - & - AND 
 - | - OR

In [26]:
# 짝수 이면서 30보다 작은 원소
(x%2 == 0) & (x<30)
x[(x%2 == 0) & (x<30)]

array([False,  True, False, False, False, False, False, False,  True,
       False])

array([12,  8])

In [27]:
x[(x<30) | (x>50)]

array([12, 80, 89, 58, 85, 94,  8,  3])

## 예제) 2020년 7월 서울 평균 기온
- 25도를 넘는 날수

In [28]:
temp = np.array(
        [23.9, 24.4, 24.1, 25.4, 27.6, 29.7,
         26.7, 25.1, 25.0, 22.7, 21.9, 23.6, 
         24.9, 25.9, 23.8, 24.7, 25.6, 26.9, 
         28.6, 28.0, 25.1, 26.7, 28.1, 26.5, 
         26.3, 25.9, 28.4, 26.1, 27.5, 28.1, 25.8])

In [29]:
len(temp)

31

In [30]:
temp>25

array([False, False, False,  True,  True,  True,  True,  True, False,
       False, False, False, False,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [31]:
len(temp[temp>25])

21

In [32]:
np.sum(temp>25) #True : 1, False : 0 모든 True 값을 더해서 len과 동일한 결과가 나옴

21

In [34]:
#평균 기곤은 25도를 넘는 날의 평균 기온

temp[temp>25]
np.mean(temp[temp>25])

array([25.4, 27.6, 29.7, 26.7, 25.1, 25.9, 25.6, 26.9, 28.6, 28. , 25.1,
       26.7, 28.1, 26.5, 26.3, 25.9, 28.4, 26.1, 27.5, 28.1, 25.8])

26.857142857142858