## 공공데이터에서 관련 데이터 수집 후 카페 업종 현황 확인
- 전국 카페 데이터를 모두 수집
- 서울지역의 점포 현황 확인

In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

## 데이터 불러오기

In [3]:
# 다운 받은 데이터 중 1개 가져오기
tmp = pd.read_csv('../data/store/소상공인시장진흥공단_상가(상권)정보_인천_202103.csv')
tmp.shape
tmp.head()

(106707, 39)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23498449,츄로하임,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2826010400109750004000001,청라반도유보라,인천광역시 서구 솔빛로 55,404170.0,22765.0,NaN,NaN,102,126.626740,37.525163
1,22882934,간석미용실,NaN,F,생활서비스,F01,이/미용/건강,F01A01,여성미용실,S96112,...,2820010200101900026021270,NaN,인천광역시 남동구 석촌로14번길 5,405230.0,21545.0,NaN,NaN,NaN,126.709349,37.461969
2,17175369,박서방네목로주점,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2818510500107960010163157,NaN,인천광역시 연수구 청량로46번길 7,406131.0,21943.0,NaN,NaN,NaN,126.660078,37.413774
3,24444979,라헬,NaN,D,소매,D05,의복의류,D05A01,일반의류,G47416,...,2818510500109230000007532,금호동아아파트,인천광역시 연수구 청능대로 124,406775.0,21967.0,NaN,NaN,106,126.677224,37.410678
4,24872335,교동상회,NaN,D,소매,D06,가방/신발/액세서리,D06A07,양품점,G47419,...,2871040023105550000046505,NaN,인천광역시 강화군 교동면 교동남로423번길 16-1,417921.0,23001.0,NaN,NaN,NaN,126.316681,37.779079

## 파일관련 편리한 모듈


- pickle
    - 파일에 읽고 쓰는 작업을 함수를 통해 한번에 진행시켜 줌
- glob
    - 파일들의 리스트를 뽑을 때 사용
        - 파일의 경로명과 기호를 이용해서 원하는 파일 경로를 생성해 낼 수있음
- os
    - 운영체제의 파일 관련 작업 명령에 대한 함수를 제공 함

In [4]:
# pickle 모듈

users = {'kim':'3kid9', 'sun80':'393948', 'ljm':'py90390'}

# 파일에 user data 쓰기
f = open('user.txt', 'wb')

import pickle

pickle.dump(users, f)

In [5]:
f = open('user.txt', 'rb')
a = pickle.load(f)
a

{'kim': '3kid9', 'sun80': '393948', 'ljm': 'py90390'}

In [6]:
import os # 현재 디렉토리 안에 파일 존재 여부 확인

os.path.exists('user.txt')
os.path.exists('../user.txt')

True

False

In [7]:
from glob import glob 

glob('*.ipynb') # 현재 디렉터리에 특정 확장자 파일 목록 반환
glob('*.txt') # 현재 디렉터리에 txt 확장자 파일 목록 반환
glob('../data/*.txt')
glob('../data/*.csv') # 현제 디렉터리 상위 디렉터리의 data 폴더에 있는 csv 파일 과 경로 반환

['공공데이터_카페_데이터분석.ipynb', '맨하단에서 이슈발생.ipynb', '서울시 인구 및 CCTV 분석.ipynb']

['user.txt']

[]

['../data\\01. CCTV_in_Seoul.csv', '../data\\train.csv']

In [8]:
# 해당 파일 리스트가 디렉터인지 확인
from glob import glob
from os.path import isdir

for x in glob('../data/*'): # *은 모든 것을 의미
        if isdir(x):
            print(x, '<DIR> 경로 파일')
        else:
            print(x)

../data\01. CCTV_in_Seoul.csv
../data\01.population_in_Seoul.xls
../data\store <DIR> 경로 파일
../data\train.csv
../data\소상공인시장진흥공단_상가(상권)정보_20210331.zip

In [9]:
## data 폴더에 있는 모든 csv 파일을 읽어오기

from glob import glob

# csv 목록 불러오기
file_names = glob("../data/store/*.csv") # 경로 정보까지 가져와서 쉽게 사용할 수 있음(경로명을 포함)
file_names

['../data/store\\소상공인시장진흥공단_상가(상권)정보_강원_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_경기_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_경남_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_경북_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_광주_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_대구_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_대전_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_부산_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_서울_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_세종_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_울산_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_인천_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_전남_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_전북_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_제주_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_충남_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_충북_202103.csv']

In [10]:
# csv 읽어와서 기존 df에 병합 : concat 함수 사용

total = pd.DataFrame() # 빈 데이터프레임 생성

# 모든 csv 병합하기
for file_name in file_names:
    temp = pd.read_csv(file_name, sep=',', encoding='utf-8')
    total = pd.concat([total, temp])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
total.shape

(2233997, 39)

In [12]:
total.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,17174079,평창라마다호텔,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4276038024102450036000001,NaN,강원도 평창군 대관령면 오목길 107,232954.0,25342.0,NaN,NaN,NaN,128.717971,37.660051
1,17173904,호텔탑스텐스카이라운지,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215035029100920001000002,NaN,강원도 강릉시 옥계면 헌화로 455-34,210831.0,25633.0,NaN,NaN,NaN,129.052902,37.654680
2,25033300,동그라미중고타이어,NaN,D,소매,D23,자동차/자동차용품,D23A04,타이어판매,G45211,...,4215011100110960006010791,NaN,강원도 강릉시 가작로 270,210110.0,25488.0,1,NaN,NaN,128.904472,37.770252
3,17174549,세인트존스호텔Ohcrab,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215011300100010001017124,세인트존스호텔,강원도 강릉시 창해로 307,210120.0,25467.0,NaN,NaN,NaN,128.920908,37.791299
4,17175358,국수나루,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4215010900101730002015569,NaN,강원도 강릉시 토성로 193,210934.0,25531.0,NaN,NaN,NaN,128.896783,37.757642

In [13]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2233997 entries, 0 to 85664
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     int64
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      int64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      int64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      float64
 33  신우편번호      float64
 34  동정보        object
 35  층정보        object
 36  호정보        object
 37  경도         float64
 38  위도         float64
dtypes: float64(6), int64(10), object(23)
memory usage: 681.8+ MB

In [16]:
#index 재설정

total.reset_index(inplace=True, drop=True)

In [17]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233997 entries, 0 to 2233996
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     int64
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      int64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      int64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      float64
 33  신우편번호      float64
 34  동정보        object
 35  층정보        object
 36  호정보        object
 37  경도         float64
 38  위도         float64
dtypes: float64(6), int64(10), object(23)
memory usage: 664.7+ MB

In [18]:
# 사용할 컬럼만 선택 : 기본 인덱싱 사용 => df[[컬럼1, 컬럼2,....]]

data = total[['상호명', '지점명', '상권업종대분류명', '상권업종중분류명', '시도명',
             '시군구명', '행정동명']]

data

                   상호명   지점명 상권업종대분류명   상권업종중분류명   시도명     시군구명     행정동명
0              평창라마다호텔   NaN       숙박      호텔/콘도   강원도      평창군     대관령면
1          호텔탑스텐스카이라운지   NaN       숙박      호텔/콘도   강원도      강릉시      옥계면
2            동그라미중고타이어   NaN       소매  자동차/자동차용품   강원도      강릉시     포남1동
3        세인트존스호텔Ohcrab   NaN       숙박      호텔/콘도   강원도      강릉시      초당동
4                 국수나루   NaN       음식         한식   강원도      강릉시      옥천동
...                ...   ...      ...        ...   ...      ...      ...
2233992           더:예쁨   NaN    생활서비스    이/미용/건강  충청북도      충주시      연수동
2233993          우리집밥상   NaN       음식         한식  충청북도      음성군      음성읍
2233994            빅스타  서충주점       음식         한식  충청북도      충주시     대소원면
2233995           무한닭발   NaN       음식     닭/오리요리  충청북도  청주시 흥덕구  봉명2.송정동
2233996        모아모아플레이   NaN       음식         한식  충청북도  청주시 상당구      성안동

[2233997 rows x 7 columns]

In [19]:
data.info()
total.info() # 불필요한 데이터를 보유하고 있는 total 삭제해서 메모리 확보

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233997 entries, 0 to 2233996
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   상호명       object
 1   지점명       object
 2   상권업종대분류명  object
 3   상권업종중분류명  object
 4   시도명       object
 5   시군구명      object
 6   행정동명      object
dtypes: object(7)
memory usage: 119.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233997 entries, 0 to 2233996
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     int64
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      int64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      int64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      float64
 33  신우편번호      float64
 34  동정보        object
 35  층정보        object
 36  호정보        object
 37  경도         float64
 38  위도         float64
dtypes: float64(6), int64(10), object(23)
memory usage: 664.7+ MB

In [20]:
# total 제거
del total

In [21]:
total.head()

NameError: name 'total' is not defined

In [24]:
# 중복 데이터 제거

#unique / set 은 동일 기능
data['상권업종대분류명'].unique()
set(data['상권업종대분류명'])

array(['숙박', '소매', '음식', '학문/교육', '생활서비스', '부동산', '관광/여가/오락', '스포츠'],
      dtype=object)

{'관광/여가/오락', '부동산', '생활서비스', '소매', '숙박', '스포츠', '음식', '학문/교육'}

In [25]:
data['상권업종중분류명'].unique()
set(data['상권업종중분류명'])
#분석대상인 커피전문점은 중분류의 커피점/카페

array(['호텔/콘도', '자동차/자동차용품', '한식', '가구소매', '학원기타', '유흥주점', '철물/난방/건설자재소매',
       '주유소/충전소', '가방/신발/액세서리', '가정/주방/인테리어', '커피점/카페', '화장품소매', '부동산중개',
       '선물/팬시/기념품', '캠프/별장/펜션', '음/식료품소매', '의복의류', '요가/단전/마사지', '기타판매업',
       '학원-음악미술무용', '민박/하숙', '세탁/가사서비스', '주택수리', '개인/가정용품수리', '분식',
       '종합소매점', '인력/고용/용역알선', '사진/광학/정밀기기소매', '가전제품소매', '학원-어학', '일식/수산물',
       '사무/문구/컴퓨터', '이/미용/건강', '제과제빵떡케익', '광고/인쇄', '취미/오락관련소매',
       '모텔/여관/여인숙', '자동차/이륜차', '대중목욕탕/휴게', '학원-보습교습입시', '건강/미용식품',
       '패스트푸드', '학원-창업취업취미', '닭/오리요리', '중식', '시계/귀금속소매', '중고품소매/교환',
       '유아교육', '학원-예능취미체육', '페인트/유리제품소매', '무도/유흥/가무', '유아용품', '운동/경기용품소매',
       '놀이/여가/취미', '의약/의료품소매', '대행업', 'PC/오락/당구/볼링등', '분양', '양식',
       '학문교육기타', '별식/퓨전요리', '장례/묘지', '물품기기대여', '기타서비스업', '책/서적/도서',
       '기타음식업', '도서관/독서실', '운송/배달/택배', '행사/이벤트', '개인서비스', '부페', '사진',
       '애견/애완/동물', '음식배달서비스', '예식/의례/관혼상제', '학원-자격/국가고시', '경마/경륜/성인오락',
       '스포츠/운동', '실내운동시설', '종교용품판매', '운영관리시설', '예술품/골동품/수석/분재', '전시/관람',
       '실외운동시설', '학원-컴퓨터', '평가/개발/관리', '연극/영화/극장', '유스호스텔', '법무세무회계',
       '부동산관련서비스', '연구소', '기타교육기관', '부동산임대', '특수교육기관', '학교'], dtype=object)

{'PC/오락/당구/볼링등',
 '가구소매',
 '가방/신발/액세서리',
 '가전제품소매',
 '가정/주방/인테리어',
 '개인/가정용품수리',
 '개인서비스',
 '건강/미용식품',
 '경마/경륜/성인오락',
 '광고/인쇄',
 '기타교육기관',
 '기타서비스업',
 '기타음식업',
 '기타판매업',
 '놀이/여가/취미',
 '닭/오리요리',
 '대중목욕탕/휴게',
 '대행업',
 '도서관/독서실',
 '모텔/여관/여인숙',
 '무도/유흥/가무',
 '물품기기대여',
 '민박/하숙',
 '법무세무회계',
 '별식/퓨전요리',
 '부동산관련서비스',
 '부동산임대',
 '부동산중개',
 '부페',
 '분식',
 '분양',
 '사무/문구/컴퓨터',
 '사진',
 '사진/광학/정밀기기소매',
 '선물/팬시/기념품',
 '세탁/가사서비스',
 '스포츠/운동',
 '시계/귀금속소매',
 '실내운동시설',
 '실외운동시설',
 '애견/애완/동물',
 '양식',
 '연구소',
 '연극/영화/극장',
 '예술품/골동품/수석/분재',
 '예식/의례/관혼상제',
 '요가/단전/마사지',
 '운동/경기용품소매',
 '운송/배달/택배',
 '운영관리시설',
 '유스호스텔',
 '유아교육',
 '유아용품',
 '유흥주점',
 '음/식료품소매',
 '음식배달서비스',
 '의복의류',
 '의약/의료품소매',
 '이/미용/건강',
 '인력/고용/용역알선',
 '일식/수산물',
 '자동차/이륜차',
 '자동차/자동차용품',
 '장례/묘지',
 '전시/관람',
 '제과제빵떡케익',
 '종교용품판매',
 '종합소매점',
 '주유소/충전소',
 '주택수리',
 '중고품소매/교환',
 '중식',
 '책/서적/도서',
 '철물/난방/건설자재소매',
 '취미/오락관련소매',
 '캠프/별장/펜션',
 '커피점/카페',
 '특수교육기관',
 '패스트푸드',
 '페인트/유리제품소매',
 '평가/개발/관리',
 '학교',
 '학문교육기타',
 '학원-보습교습입시',
 '학원-어학',
 '학원-예능취미체육',
 '학원-음악미술무용',
 '학원-자격/국가고시',
 '학원-창업취업취미',
 '학원-컴퓨터',
 '학원기타',
 '한식',
 '행사/이벤트',
 '호텔/콘도',
 '화장품소매'}

In [27]:
## 카페 정보만 추출
df_cafe = data[data['상권업종중분류명']=='커피점/카페']

df_cafe

              상호명     지점명 상권업종대분류명 상권업종중분류명   시도명     시군구명     행정동명
16       키즈까페아이사랑     NaN       음식   커피점/카페   강원도      강릉시      성덕동
43           카페마실     NaN       음식   커피점/카페   강원도      원주시      단계동
51             힐링     NaN       음식   커피점/카페   강원도      원주시      단구동
67            드롭탑  속초엑스포점       음식   커피점/카페   강원도      속초시      조양동
89          상유재카페     NaN       음식   커피점/카페   강원도      정선군      정선읍
...           ...     ...      ...      ...   ...      ...      ...
2233925      핑거커피     NaN       음식   커피점/카페  충청북도  청주시 흥덕구      옥산면
2233926      달콤커피     NaN       음식   커피점/카페  충청북도  청주시 서원구      산남동
2233982      원앤온리     NaN       음식   커피점/카페  충청북도  청주시 흥덕구  봉명2.송정동
2233983       디플리     NaN       음식   커피점/카페  충청북도      충주시      용산동
2233987      라온커피     NaN       음식   커피점/카페  충청북도      증평군      증평읍

[106710 rows x 7 columns]

In [28]:
df_cafe.reset_index(inplace=True, drop=True) # 인덱스 정리 정리하지 않을 경우 기존의 인덱스를 가지고 들어오기 때문
df_cafe

             상호명     지점명 상권업종대분류명 상권업종중분류명   시도명     시군구명     행정동명
0       키즈까페아이사랑     NaN       음식   커피점/카페   강원도      강릉시      성덕동
1           카페마실     NaN       음식   커피점/카페   강원도      원주시      단계동
2             힐링     NaN       음식   커피점/카페   강원도      원주시      단구동
3            드롭탑  속초엑스포점       음식   커피점/카페   강원도      속초시      조양동
4          상유재카페     NaN       음식   커피점/카페   강원도      정선군      정선읍
...          ...     ...      ...      ...   ...      ...      ...
106705      핑거커피     NaN       음식   커피점/카페  충청북도  청주시 흥덕구      옥산면
106706      달콤커피     NaN       음식   커피점/카페  충청북도  청주시 서원구      산남동
106707      원앤온리     NaN       음식   커피점/카페  충청북도  청주시 흥덕구  봉명2.송정동
106708       디플리     NaN       음식   커피점/카페  충청북도      충주시      용산동
106709      라온커피     NaN       음식   커피점/카페  충청북도      증평군      증평읍

[106710 rows x 7 columns]

## 지역별 커피 전문점

In [31]:
set(data['시도명'])
data['시도명'].unique()

{'강원도',
 '경기도',
 '경상남도',
 '경상북도',
 '광주광역시',
 '대구광역시',
 '대전광역시',
 '부산광역시',
 '서울특별시',
 '세종특별자치시',
 '울산광역시',
 '인천광역시',
 '전라남도',
 '전라북도',
 '제주특별자치도',
 '충청남도',
 '충청북도'}

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [32]:
len(set(data['시도명']))
len(data['시도명'].unique())

17

17

In [35]:
df_seoul_cafe = data[(data['시도명']=='서울특별시') & (data['상권업종중분류명']=='커피점/카페')]
## 인덱스 정리(index 속성이용)
range(len(df_seoul_cafe))
df_seoul_cafe.index = range(len(df_seoul_cafe))
df_seoul_cafe.info()

range(0, 20391)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20391 entries, 0 to 20390
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   상호명       20391 non-null  object
 1   지점명       7139 non-null   object
 2   상권업종대분류명  20391 non-null  object
 3   상권업종중분류명  20391 non-null  object
 4   시도명       20391 non-null  object
 5   시군구명      20391 non-null  object
 6   행정동명      20391 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB